.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
    "options widget"
    ". htmlButtonContainer";
  column-gap: 25px;
  row-gap: 25px;
}

.options {
  grid-area: options;
  border: 1px solid #d2d2d2;
}

.widget {
  grid-area: widget;
}

.section {
  padding: 15px;
}

.section + .section {
  border-top: 1px solid #d2d2d2;
}

.title {
  display: flex;
}

.title span:first-child {
  margin-right: auto;
  font-weight: bold;
}

.title span {
  display: flex;
  align-items: center;
}

.inputs {
  padding-top: 15px;
}

.container input {
  margin-right: 5px;
}

.inputContainer {
  display: flex;
  align-items: center;
  line-height: 28px;
}

.htmlButtonContainer {
  grid-area: htmlButtonContainer;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-areas:
      "options options"
      "widget widget"
      "htmlButtonContainer htmlButtonContainer";
  }

  .htmlButtonContainer button {
    width: 100%;
  }
}
